<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-light-grey" style="width:50%">

  <img src="../../public/img/logo.png" alt="Snow" style="width:50%">
  <a href="#" class="w3-bar-item w3-button w3-red">Home</a>
  <a href="/panel-cdmercado" class="w3-bar-item w3-button">Cadastrar Mercado<span class="w3-tag w3-red w3-right w3-margin-right">8</span></a>
  <a href="#" class="w3-bar-item w3-button">Sair</a>

</div>

<div style="margin-left:50%">
<% for(mercado of mercados) { %>  
    <div class="w3-container">
      <form method="POST" action="/panel-mercado"> 
      <button name="btmercado" type = "submit">
        <a href="#"><h2><%= mercado.nome %></h2></a>
        <p><%= mercado.desc %></p>
        <input type="hidden" name="id" value = <%= mercado._id %> >
      </button>
    </form>
    </div>
  
<% } %>  

</div>
      
</body>
</html>



</body>
</html>